    .ficha-container {
      display: flex;
      flex-wrap: wrap;
      background-color: #000;
      color: #FFF;
    }

    .ficha-column {
      padding: 20px;
      box-sizing: border-box;
    }

    .ficha-column-left {
      flex: 1 1 33.33%;
    }

    .ficha-column-right {
      flex: 2 1 66.66%;
    }

    @media (max-width: 768px) {
      .ficha-column-left,
      .ficha-column-right {
        flex: 1 1 100%;
      }
    }